.fast-access__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: transparent;
  i,p {
    color: #ffffff;
  }

  .fast-access__div-content,
  .to-scroll__div {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .fast-access__div-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .to-scroll__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    .to-scroll-item__div{
      width: 85px;
      cursor: pointer;
    }
  }
}