header.icons-container__header {
  background-color: #212936;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;

  .text-conatiner__div {
    margin-left: 30px;
    font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    i {
      margin-right: 5px;
    }
  }

  .text-conatiner__div,
  i {
    color: #ffffff;
  }

  .titles-container__div {
    margin-right: 30px;
    height: 20px;
  }

  .container-bottom__div {
    height: 50px;
    background-color: red;
  }

  // .profile-img {
  //   content:url("../../img/mareparaciones.jpg");
  //   height: 100px;
  //   width: 100px;
  //   overflow: hidden;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  //   background-size: cover;
  //   border-radius: 50%;
  //   margin-bottom: -6%;
  //   border: 10px solid #212936;
  //   box-shadow: 0px 0px 5px 5px #ccc;
  // }

  h1 {
    margin-left: 10px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  h1,
  h2,
  p {
    color: #ffffff;
    font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }
}