.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #ffffff;
  }
  .button-text__div--container {
    width: 50%;
    .button-icon__div--container {
      display: flex;
      justify-content: center;
    }
    i {
      margin-top: 4%;
      color: #ffffff;
    } 
    .button__div {
      background-color: #c92525;
      color: white;
      width: 50%;
      height: 40px;
      border-radius: 4px;
      cursor: pointer;
      
      &--green {
        background-color: green;
      }
    }
    .text__p--color {
      color: white;
    }

    .my-experience__button {
      color: #ffffff;
      &--not-clicked {
        background-color: transparent;
      }
    }
  }
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
